@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "InserMember";
}

<h2>Insert Member</h2>
<p>Antal poster som uppdateras: @ViewBag.antal</p>
<p>Eventuellt felmeddelande: @ViewBag.error</p>
