@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Umeå Biljardklubb</h1>
    <p>About Us <a href="https://cuescore.com/umeabk/about">Learn how to play pool and have fun</a>.</p>
    <img src="~/images/ub_klubb.jpg" alt="Biljardklubb" style=" max-width:auto; height:auto;" />

</div>
